@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  @apply bg-fuchsia-300 rounded-xl;
}

::-webkit-scrollbar-thumb:hover {
  background: white;
}
